* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
$primary-color: #41a7d9;
$secondary-color: #292623;
body {
    background-color: white;
}
ul {
    li {
        a {
            text-decoration: none;
            font-family: Roboto;
            font-style: normal;
            color: #9d9d9c !important;
        }
        a:hover {
            color: $primary-color !important;
        }
    }
}

// Cabeçalho
header {
    nav {
        height: 96px;
        border-top: #9f9f9f 0.75px solid;
        border-bottom: #9f9f9f 0.75px solid;
        .navbar {
            padding: 20px 0;
        }
        .nav-item {
            align-items: center;
            display: flex;
            padding-left: 30px;
            a {
                text-transform: uppercase;
                display: flex;
                align-items: center;
                font-size: 13px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0.15em;
            }
            .pesquisa {
                display: flex;
                input {
                    color: #9d9d9c;
                    border: #dcdbdb 2px solid;
                    width: 150px;
                    max-width: 243px;
                    height: 34px;
                    box-sizing: border-box;
                    border-radius: 3px;
                    font-family: Roboto;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 12px;
                    letter-spacing: 0em;
                    outline: none;
                }
                img {
                    position: relative;
                    cursor: pointer;
                    top: 8px;
                    right: 40px;
                    width: 19px;
                    height: 19px;
                }
            }
        }
        // Dropdown menu

        .dropdown-menu {
            .dropdown-submenu {
                position: relative;
                .dropdown-menu {
                    top: 0;
                    margin-top: -5px;
                    left: 100%;
                }
            }
            li:hover {
                ul {
                    display: block;
                }
            }
            li {
                h6 {
                    font-weight: 500;
                    font-size: 14px;
                    color: gray;
                    text-transform: uppercase;
                    padding-left: 16px;
                }
                h6:hover {
                    color: gray;
                }
            }
        }
    }
}
// Offcanvas
.offcanvas-body {
    ul {
        border-top: gray 2px solid;
        li {
            margin-bottom: 15px;
        }
        h6 {
            margin-top: 20px;
        }
    }
}
.vcl {
    display: flex;
    background-color: #133759;
    margin: 0 40px;
    height: 300px;
    p {
        color: #fff;
        font-weight: 300;
        font-size: 14px;
    }
    .bloco-1 {
        width: 50%;
        margin: 40px 10px 30px 40px;
        .titulo {
            font-size: 28px;
            font-weight: 500;
        }
    }
    .bloco-2 {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .p {
            p {
                padding-top: 40px !important;
                text-align: center;
                color: #fff !important;
                font-weight: 300 !important;
                font-size: 10px !important;
            }
        }
    }
    .atalhos {
        a {
            background-color: #fff;
            color: #133759 !important;
            font-weight: 500;
        }
    }
}
footer {
    position: relative;
    bottom: 0;

    .links-footer {
        margin: 50px 40px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 2fr 2fr 2fr 3fr;

        .link-util {
            margin-top: 40px;
            ul {
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: #9d9d9c;
                        font-weight: 500;
                    }
                    a:hover {
                        color: $primary-color !important;
                    }
                    h1 {
                        font-size: 18px;
                        text-transform: uppercase;
                        font-weight: bold;
                        color: #484e57;
                    }
                }
            }
        }
    }

    p {
        color: #9d9d9c;
        font-weight: bold;
        font-size: 10px;
    }
    .newsletters {
        .titulo-footer {
            h1 {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
                color: #484e57;
            }
        }
        form {
            input {
                width: 340px;
                height: 40px;
                outline: none;
            }
            label {
                cursor: pointer;
                position: relative;
                left: 252px;
                font-size: 12px;
                font-weight: bold;
                bottom: 32px;
            }
        }
    }
    .footer {
        background-color: #292623;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        .direitos {
            p {
                font-size: 14px;
                margin-top: 14px;
            }
        }
    }
}
// pagina 1

.slider {
    .imagebg {
        width: 100%;
        height: 400px;
        max-height: 558px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
.licite {
    margin-top: 80px;
    p {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #292623;
        .em {
            color: #000000;
            font-weight: bold;
        }
        .obj {
            color: #41a7d9;
        }
        .equipa {
            color: #41a7d9;
        }
    }
}
.qualidades {
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    span {
        padding-left: 80px;
        color: #000000;
        font-size: 16px;
    }
}

.anuncios {
    height: auto;
    display: grid;
    grid-template-areas:
        "a a b c"
        "a a d e";
    grid-gap: 3px;
    .fotografia {
    }
    .destaque {
        grid-area: a;
        .fotografia {
            width: 500px;
            height: 455px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    a {
        ion-icon {
            font-size: 20px;
        }
    }
    .destaque-1 {
        grid-area: b;
        height: 180px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .destaque-2 {
        grid-area: c;
        height: 180px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .destaque-3 {
        grid-area: d;
        height: 180px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .destaque-4 {
        grid-area: e;
        height: 180px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .descricao {
        border-right: #9f9f9f 2px solid;
        border-left: #9f9f9f 2px solid;
        height: 80px;
        margin-top: 10px;
        padding-top: 10px;
        .name {
            .nome {
                margin-left: 5%;
                width: 100%;
                display: flex;
                align-items: center;
                span {
                    padding-left: 10px;
                }
            }
        }
        .info {
            display: flex;
            .pais {
                margin-left: 5%;
                display: flex;
                align-items: center;
                width: 70%;
                span {
                    padding-left: 10px;
                }
            }
            .salvar {
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .compartilhar {
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .favorito {
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

// categorias
.encontre {
    p {
        font-size: 24px;
    }
    .enc {
        color: #393534;
        font-weight: 600;
    }
}
.categorias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
    .imagem {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .nomecategoria {
        border-left: #9f9f9f 1px solid;
        border-right: #9f9f9f 1px solid;
        margin-top: 3px;
        width: 100%;
        height: 16%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imoveis {
        height: 300px;
    }
}

// SOBRE NÓS

.one {
    .bg-1 {
        display: flex;
        justify-content: center;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .card-1 {
        position: relative;
        bottom: 170px;
        margin: 0 auto;
        background-color: #41a7d9;
        height: 220px;
        width: 764px;
        display: flex;
        justify-content: center;
        align-items: center;
        #linha-horizontal {
            width: 50px;
            border: 1px solid #fff;
        }
    }
    .card-2 {
        position: relative;
        bottom: 80px;
        margin: 0 auto;
        background-color: #328eb8;
        height: 290px;
        width: 764px;
        display: flex;
        justify-content: center;
        align-items: center;
        #linha-horizontal {
            width: 50px;
            border: 1px solid #fff;
        }
    }
    .card-3 {
        position: relative;
        bottom: 80px;
        margin: 0 auto;
        background-color: #246683;
        height: 290px;
        width: 764px;
        display: flex;
        justify-content: center;
        align-items: center;
        #linha-horizontal {
            width: 50px;
            border: 1px solid #fff;
        }
    }
    .text-1 {
        width: 721px;
        p {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            font-style: normal;
        }
        .menor {
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
        }
    }
}
.a-leilosoc {
    position: relative;
    bottom: 120px;
    margin: 0 auto;
    width: 740px;
    height: 159px;
    h1 {
        font-size: 18px;
        font-weight: 400;
    }
    p {
        font-size: 12px;
        line-height: 24px;
        font-weight: 400;
    }
}
.estatisticas {
    position: relative;
    bottom: 100px;
    width: 750px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    h1 {
        color: $primary-color;
    }
    .utilizadores {
        text-align: center;
    }
    .leiloes {
        text-align: center;
    }
    .visualizacao {
        text-align: center;
    }
    .paises {
        text-align: center;
    }
}
.suporte {
    width: 740px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    .imagem {
        width: 300px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .texto {
        width: 462px;
        h1 {
            font-size: 20px;
            font-weight: 900;
            color: $secondary-color;
        }
        p {
            font-size: 12px;
            color: $secondary-color;
            font-weight: 500;
        }
    }
}

//// pagina termos de vendas
.condicoes {
    h6 {
        width: 100%;
        color: #000;
        font-weight: 400;
    }
    h1 {
        text-align: center;
        color: #000;
        font-weight: 300;
        span {
            font-weight: 900;
            color: $secondary-color;
        }
    }
    .compete {
        text-align: center;
        color: #000;
        font-size: 15px;
    }
    .licite {
        span {
            color: #000;
            font-weight: 600;
            .magro {
                font-weight: 400;
            }
        }
    }
}
ol {
    .titulo {
        list-style-type: upper-alpha;
        color: $primary-color;
        font-weight: 600;
        p {
            color: #000000;
            font-weight: 400;
        }
    }
}
.logar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .btn-login {
        width: 150px;
        .btn-primary {
            width: 100%;
            font-weight: 900;
        }
    }
    .btn-registo {
        width: 150px;
        .btn-outline-primary {
            width: 100%;
            font-weight: 900;
        }
    }
}
/////dicas sobre fotografias

.camera {
    img {
        width: 100%;
    }
}
ol {
    .titulo-1 {
        list-style-type: disc;
        color: $primary-color;
        font-weight: 600;
        p {
            color: #000000;
            font-weight: 400;
        }
    }
}
//////dicas de como comprar
.conteiner {
    margin: 0 150px;
}
.container_1 {
    margin: 0 50px;
}
.breadcrumb {
    a {
        text-decoration: none;
        color: gray;
    }
}
.primeiro {
    display: flex;
    justify-content: space-between;
    h1 {
        font-size: 18px;
        font-weight: 400;
        color: #393534;
    }
    .contate {
        p {
            font-size: 14px;
            font-weight: 500;
            a {
                text-decoration: none;
                color: $primary-color;
            }
        }
    }
}
.contate-nos {
    margin: 0 auto;
    img {
        width: 100%;
    }
}
.venda4 {
    position: relative;
    bottom: 400px;
    h4 {
        font-size: 28px;
        font-weight: 300;
    }
}
.formulario {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    bottom: 320px;
    left: 780px;
    box-shadow: #000 3px 3px 20px;
    width: 350px;
    .container_2 {
        margin: 40px 40px;
        h1 {
            padding-top: 20px;
            font-size: 18px;
            font-weight: 400;
            color: gray;
        }
    }
    .input-group {
        .form-select {
            color: $primary-color !important;
        }

        .form-control {
            border: #000 1px solid;
            border-radius: 0;
        }
        textarea {
            border: none;
            outline: none;
            color: gray;
        }
        textarea:hover {
            border: none;
            outline: none;
        }
    }
    .enviar {
        button {
            background-color: $primary-color;
            border: none;
            font-size: 14px;
            width: 150px;
        }
    }
}

.dois_bloco {
    margin: 0 auto;
    width: 1000px;
    position: relative;
    bottom: 250px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    .texto {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        .number {
            margin-right: 20px;
            h1 {
                font-size: 160px;
                color: $primary-color;
            }
        }
        .titulo {
            p {
                font-size: 14px;
            }
        }
    }
    .imagem {
        margin-bottom: 30px;
        object-fit: contain;
        img {
            height: 100%;
            width: 100%;
        }
    }
}
.informacoes {
    position: relative;
    bottom: 150px;
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .texto {
        h1 {
            font-size: 160px;
            color: $primary-color;
        }
        p {
            font-size: 12px;
            font-weight: 500;
            color: #393534;
        }
        h6 {
            font-weight: 700;
            color: #393534;
        }
    }
}

.as-vantagem {
    .texto {
        margin: 0 auto;
        width: 550px;
        h4 {
            font-weight: 300;
            font-size: 24px;
            color: #292623;
        }
    }
}
.bigsquare {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    h5 {
        font-size: 16px;
        margin-top: 30px;
    }
    p {
        font-size: 12px;
        font-weight: 500;
    }
}
.calendario {
    background-color: $primary-color;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 100px;
    a {
        margin-top: 20px;
        color: white;
        border: white 1px solid;
    }
    a:hover {
        outline: none;
        background-color: transparent;
        border: white 1px solid;
    }
    h3 {
        color: white;
    }
}

///imprensa
.contate-nos {
    .formulario {
        .container_2 {
            height: 450px;
            .imprensa {
                font-size: 28px;
            }
            .te {
                font-size: 13px;
            }
        }
        a {
            width: 150px;
            background-color: $primary-color;
            border: none;
        }
    }
}
.anuncio-leilosoc {
    position: relative;
    bottom: 230px;
    .titulo {
        h4 {
            font-size: 28px;
            font-weight: 400;
            color: #393534;
        }
    }
    .filtro-date {
        text-align: end;
        .btn-group {
            padding-left: 20px;
            button {
                background-color: transparent;
                border: gray 1px solid;
                color: gray;
            }
        }
    }
    .agenda {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .pagina {
            text-align: center;
            img {
                width: 100%;
                height: auto;
            }
            .date {
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                span {
                    font-size: 14px;
                    color: gray;
                }
                a {
                    font-size: 14px;
                    text-decoration: none;
                    color: gray;
                }
                a:hover {
                    text-decoration: underline;
                    color: $primary-color;
                }
            }
        }
    }

    .pagination {
        height: 50px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.noticia-leilosoc {
    position: relative;
    bottom: 230px;
    .titulo {
        h4 {
            font-size: 28px;
            font-weight: 400;
            color: #393534;
        }
    }
    .filtro-date {
        text-align: end;
        .btn-group {
            padding-left: 20px;
            button {
                background-color: transparent;
                border: gray 1px solid;
                color: gray;
            }
        }
    }
    .noticias {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        .imagem {
            width: 450px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .texto {
            p {
                color: gray;
            }
            width: 700px;
            .grande-premio {
                font-size: 11px;
            }
            .data {
                font-size: 12px;
                font-weight: 600;
                color: #000 !important;
            }
            .conteudo {
                margin-top: 25px;
            }
        }
    }
}
.certificacao {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    .npl {
        .imagem {
            border: none;
        }
    }
    .texto {
        p {
            font-size: 10px;
            color: gray;
        }
        .link {
            a {
                text-decoration: none;
                color: gray;
            }
        }
    }
    .data {
        font-size: 12px;
        font-weight: 600;
        color: #000 !important;
    }
    .imagem {
        border: gray 1px solid;
        border-radius: 10px;
    }
}
.blog {
    position: relative;
    bottom: 230px;
    .titulo {
        h4 {
            font-weight: 400;
            color: #393534;
        }
    }
    .curiosidades {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        .texto {
            h6 {
                font-size: 14px;
                font-weight: 600;
            }
            p {
                font-size: 10px;
                font-weight: 400;
                color: gray;
            }
        }
    }
}
// LEILÕES
.first {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 5fr;

    .aside {
        margin-top: 30px;
        .titulo {
            p {
                color: gray;
            }
        }
        .refe-lote {
            span {
                font-size: 15px;
                font-weight: 600;
            }
        }
        .fechamento {
            span {
                font-size: 14px;
                font-weight: 400;
                color: #484e57;
            }
            .hora {
                color: $primary-color;
                font-size: 22px;
                font-weight: 900;
                text-align: center;
                padding-left: 20px;
            }
        }
        .button-group {
            .button {
                a {
                    width: 250px !important;
                    margin-left: 20px;
                    color: $primary-color;
                    font-weight: 700;
                }
            }

            .guardar {
                a {
                    border: $primary-color 1px solid;
                    outline: none;
                }
                a:hover {
                    outline: none;
                    background-color: transparent;
                }
            }
            .previo {
                a {
                    background-color: $primary-color;
                    color: white !important;
                    border: none;
                }
            }
            .detalhe {
                a {
                    background-color: white !important;
                    border: none;
                }
            }
            .visita {
                a {
                    border: $primary-color 1px solid;
                    outline: none;
                }
                a:hover {
                    outline: none;
                    background-color: transparent;
                }
            }
        }
        .pesquisa {
            margin-top: 50px;
            margin-bottom: 50px;
            input {
                text-align: center;
                width: 250px !important;
                margin-left: 20px;
                border: none;
                outline: none;
                color: #393534;
            }
        }
        .filtros-leilao {
            .titulo {
                h5 {
                    font-weight: 500;
                    font-size: 18px;
                }
            }
        }
        .accordion {
            .accordion-item {
                .accordion-button {
                    font-weight: 600;
                    outline: none;
                    color: #000;
                }
                .accordion-button:hover {
                    color: #000;
                    outline: none;
                }
            }
        }
        .baixaqui {
            border-top: gray 1px solid;
            border-bottom: gray 1px solid;
            height: 80px;
            margin-top: 100px;
            display: flex;
            position: relative;
            top: 330px;
            justify-content: space-between;
            align-items: center;
            span {
                margin-left: 10px;
                margin-right: 10px;
            }
            a {
                text-decoration: none;
                padding-left: 26px;
                font-size: 12px;
                color: gray;
            }
        }
    }
    .meio {
        margin-top: 90px;
        .eletronico {
            display: flex;
            justify-content: end;
            margin-right: 100px;
        }
        .titulo {
            p {
                color: gray;
            }
            h3 {
                font-weight: 600;
                color: #393534;
            }
        }
        .pedro-campos {
            display: flex;
            justify-content: space-between;
            .contatos {
                display: flex;
                p {
                    margin-top: 10px;
                    font-size: 14px;
                    color: gray;
                    span {
                        color: #000;
                        font-weight: 600;
                    }
                }
            }
            .lote-number {
                margin-left: 150px;
                color: $primary-color;
                span {
                    font-weight: 800;
                }
            }
        }
        .item-leilao {
            .lote {
                margin-bottom: 50px;
                display: flex;
                .lote-imagem {
                    width: 300px;
                    height: 250px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .lote-info {
                    margin-left: 10px;
                    border-left: #000000 1px solid;
                    border-right: #000000 1px solid;
                    .geral-info {
                        width: 470px;
                        margin: 30px 20px;
                        h6 {
                            font-weight: 600;
                        }
                        span {
                            font-size: 14px;
                        }
                        .valor {
                            margin-top: 50px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            p {
                                span {
                                    font-weight: 600;
                                }
                            }
                            .ver-lote {
                                a {
                                    background-color: $primary-color !important;
                                    border: none;
                                    width: 80px;
                                    font-size: 12px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// LEILOES DESCRICÕES DOS PRODUTOS
.head {
    width: 1050px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        font-size: 16px;
        font-weight: 500;
        a {
            text-decoration: none;
            color: #000;
            font-weight: 900;
        }
    }
}
.body {
    .nome {
        width: 100%;
        display: flex;
        align-items: center;
        .icones {
            width: 413px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .icone-1 {
                border: none;
                padding-top: 10px;
            }
            .icone {
                border: gray 1px solid;
                border-radius: 3px;
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .referencia-lote {
        position: relative;
        bottom: 30px;
        span {
            color: gray;
        }
    }
    .colunas {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;

        .coluna-1 {
            border-radius: 15px;
            ul {
                list-style: none;
            }
            img {
                max-width: 100%;
            }
            .cover {
                width: 100%;
            }
            .thumbs {
                display: flex;
                width: 100%;
                margin-top: 20px;
                li {
                    cursor: pointer;
                    border: 2px solid #ccc;
                    width: calc((100% - 10%) / 6);
                }
                li:hover {
                    border: 2px solid #999;
                }
                li.active {
                    border: 2px solid $primary-color;
                }
            }
            .titulo {
                color: rgb(110, 109, 109);
                font-weight: 600;
                font-size: 16px;
            }
            .one {
                font-size: 14px;
                font-weight: 600;
                color: rgb(110, 109, 109);
            }
            .two {
                font-size: 12px;
                font-weight: 500;
                color: gray;
            }
            .documentos {
                display: flex;
                margin-top: 90px;
                .titulo {
                    color: rgb(110, 109, 109);
                    font-weight: 600;
                    font-size: 16px;
                }
                .icones {
                    width: 95%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 5px;
                    .items {
                        width: 100px;
                        display: flex;
                        align-items: center;
                        margin: 0 auto;
                        img {
                            width: 30px;
                            height: 30px;
                        }
                        a {
                            text-decoration: none;
                            font-size: 10px;
                            color: rgb(110, 109, 109);
                            margin: 0 auto;
                        }
                        a:hover {
                            color: $primary-color;
                        }
                    }
                    .items1 {
                        width: 100px;
                        a {
                            display: flex;
                            text-decoration: none;
                            img {
                                margin-top: 6px;
                                width: 15px;
                                height: 22px;
                            }
                            span {
                                color: rgb(110, 109, 109);
                                font-size: 10px;
                                padding-left: 5px;
                                line-height: 10px;
                                margin-top: 5px;
                            }
                            span:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
            .detalhes {
                .detail-item-1 {
                    margin-top: 10px;
                    .one {
                        font-size: 14px;
                        font-weight: 600;
                        color: rgb(110, 109, 109);
                    }
                    .two {
                        font-size: 12px;
                        font-weight: 500;
                        color: gray;
                    }
                }
                .detail-item {
                    justify-content: space-between;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }
            .vem-com {
                .template-grid {
                    display: grid;
                    grid-gap: 10px;
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
            .localizacao {
                .endereco {
                    width: 280px;
                }
            }
            .visitas {
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 500px;
                button {
                    background-color: transparent;
                    color: $primary-color;
                    border: $primary-color 1px solid;
                    font-weight: 500;
                }
                button:hover {
                    background: $primary-color;
                    color: white;
                }
            }
            .previsao-entrega {
                width: 520px;
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        .coluna-2 {
            .azul {
                background-color: $primary-color;
                color: white;
                text-align: center;
                height: 100px;
                border-radius: 5px;
                padding-top: 10px;
            }
            .alinhamento {
                width: 400px;
                margin: 0 auto;
            }
            span {
                font-weight: 600;
                color: rgb(97, 93, 93);
                margin-bottom: 5px;
                font-size: 12px;
            }
            h5 {
                margin-top: 6px;
                font-size: 14px;
                font-weight: 800;
            }
            button {
                font-size: 12px;
            }
            .valor-minimo {
                height: 50px;
                margin-top: 10px;
                border-bottom: $primary-color 1px solid;
            }
            .valor-abertura {
                border-bottom: $primary-color 1px solid;
            }
            .licitacao {
                .valor {
                    button {
                        width: 80px;
                        background-color: $primary-color;
                        border: none;
                    }
                }
            }
            .valor-1 {
                button {
                    border: none;
                    background-color: $primary-color;
                    width: 180px;
                    font-size: 12px;
                }
            }
            .total {
                margin-top: 40px;
                margin-bottom: 30px;
                button {
                    border: gray 1px solid;
                    color: gray;
                    outline: none;
                }
                button:hover {
                    outline: none;
                    background-color: transparent;
                }
            }
            .direita {
                margin-top: 60px;
                .licitadores {
                    border-bottom: 1px #999 solid;
                    display: flex;
                    justify-content: space-between;
                    img {
                        width: 35px;
                        height: 35px;
                    }
                }
                .ver-todos {
                    a {
                        color: $primary-color;
                        text-decoration: none;
                    }
                }
            }
            .direita_1 {
                margin-top: 150px;
                .vendedor {
                    display: flex;
                    .foto {
                        width: 76px;
                        height: 76px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .vendedor-detail {
                        line-height: 16px;
                        margin-top: 15px;
                        margin-left: 10px;
                        .name {
                            color: #000;
                            padding-right: 5px;
                        }
                        span {
                            color: gray;
                        }
                        .barra {
                            padding-right: 5px;
                        }
                    }
                    .contactar {
                        a {
                            margin-top: 45px;
                            margin-left: 60px;
                            width: 150px;
                            font-size: 10px;
                            font-weight: 600;
                            background-color: transparent;
                            border: $primary-color 1px solid;
                            color: $primary-color;
                        }
                        a:hover {
                            color: white;
                            background-color: $primary-color;
                        }
                    }
                }
                .avaliacao {
                    width: 160px;
                    margin: 0 90px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .thumbs-up {
                        color: $primary-color;
                        font-size: 26px;
                        cursor: pointer;
                    }
                }
                .pagamentos {
                    margin-top: 70px;
                    .cards {
                        display: flex;
                        margin-top: 20px;
                        .bandeira-card {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 60px;
                        }
                    }
                }
            }
        }
    }
    .news {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 80px;
        margin: 0 80px;
        .letters {
            margin-top: 100px;
            margin-bottom: 100px;
            height: 114px;
            .titulo {
                color: $primary-color;
                h6 {
                    font-size: 14px;
                    font-weight: 900;
                }
            }
            p {
                font-size: 11px;
                color: gray;
            }
            .sobre-vendedor {
                position: relative;
                bottom: 66px;
            }
            input {
                width: 100%;
                height: 40px;
                border-radius: 5px;
                outline: none;
                border: 1px solid gray;
                color: gray;
            }
            input:hover {
                outline: none;
                border: gray 1px solid;
                color: gray;
            }
            label {
                cursor: pointer;
                border-left: gray 1px solid;
                font-size: 12px;
                color: $primary-color;
                font-weight: 600;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                bottom: 40px;
                width: 150px;
                left: 275px;
            }
            .avaliable {
                position: relative;
                left: 150px;
                bottom: 70px;
                width: 250px;
                display: flex;
                justify-content: space-between;
                ion-icon {
                    font-size: 30px;
                }
                #thumbs-up {
                    color: $primary-color;
                }
                #thumbs-down1 {
                    color: gray;
                }
                #thumbs-down {
                    color: red;
                }
                span {
                    p {
                        color: black;
                        font-size: 16px;
                        margin-bottom: -1px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .ver-mais {
        .mesma-categoria {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .items {
                img {
                    width: 100%;
                }
                .borda-estranha {
                    margin-top: 10px;
                    border-left: 1px solid gray;
                    border-right: 1px solid gray;
                    height: 150px;
                    display: flex;
                    align-items: center;

                    h1 {
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 10px;
                        span{
                            font-size: 10px;
                            font-weight: 500;
                        }
                    }
                    h2 {
                        font-size: 12px;
                    }
                    .nome-produto {
                        h1 {
                            font-size: 12px;
                            font-weight: 600;
                        }
                        h2 {
                            font-size: 10px;
                            margin-top: -8px;
                        }
                    }
                    .btn-ver-mais{
                        padding-left: 10px;
                        width: 90px;
                        a{
                            border: $primary-color 1px solid;
                            background-color: $primary-color;
                            border: none;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

//LOGIN
.login-registo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    p {
        color: #868e96;
        font-size: 14px;
    }
    .login {
        margin: 0 auto;
        .identifique {
            input {
                border: gray 1px solid;
                color: gray;
                width: 300px;
            }
            label {
                color: #868e96;
                font-size: 0.7875rem;
                text-transform: uppercase;
            }
            .btn-login {
                display: flex;
                justify-content: end;
                button {
                    border: gray 1px solid !important;
                    color: gray;
                    width: 100px;
                    border-radius: 0;
                }
                button:hover {
                    color: white;
                    background-color: gray;
                }
                a {
                    border: gray 1px solid !important;
                    color: gray;
                    width: 100px;
                    border-radius: 0;
                }
                a:hover {
                    color: white;
                    background-color: gray;
                }
            }
        }
        .esqueceu-senha {
            a {
                color: rgb(19, 95, 131);
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    .registo {
        margin: 0 auto;
    }
}
.erdar {
    input {
        width: 250px;
        height: 40px;
        outline: none;
<<<<<<< HEAD

=======
>>>>>>> main
    }
}
.dados-pessoais {
    h4 {
        font-weight: 300;
        font-size: 16px;
    }
}
.campos {
    input,
    select {
        height: 40px;
        outline: none;
        display: flex;
        align-items: center;
    }
    label {
        color: #868e96;
    }
    select {
        color: #868e96;
    }
}
.subtitulos {
    color: #868e96;
    font-size: 1rem;
    text-transform: uppercase;
    label {
        color: black;
        font-size: 14px;
    }
}
.termos-registo {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}
.btn-registo {
    text-align: center;
    button {
        color: #868e96;
        border: 1px solid #868e96;
        border-radius: 0;
        font-size: 20px;
        font-weight: 900;
    }
    button:hover {
        color: white;
        background-color: #868e96;
        border: 1px solid #868e96;
<<<<<<< HEAD

=======
>>>>>>> main
    }
}
