* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: gray;
}
$primary-color: #41a7d9;
$secondary-color: #292623;
body {
    background-color: white;
}
ul {
    li {
        a {
            text-decoration: none;
            font-family: Roboto;
            font-style: normal;
            color: #9d9d9c !important;
        }
        a:hover {
            color: $primary-color !important;
        }
    }
}
// Cabeçalho
header {
    nav {
        height: 96px;
        border-top: #9f9f9f 0.75px solid;
        border-bottom: #9f9f9f 0.75px solid;
        .navbar {
            padding: 20px 0;
        }
        li {
            align-items: center;
            display: flex;
            padding-left: 30px;
            a {
                text-transform: uppercase;
                display: flex;
                align-items: center;
                font-size: 13px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0.15em;
            }
            .search-wrapper {
                display: flex;
                input {
                    color: #9d9d9c;
                    border: #dcdbdb 2px solid;
                    width: 150px;
                    max-width: 243px;
                    height: 34px;
                    box-sizing: border-box;
                    border-radius: 3px;
                    font-family: Roboto;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 12px;
                    letter-spacing: 0em;
                    outline: none;
                }
                input:hover {
                    border: $primary-color 2px solid;
                }
                img {
                    position: relative;
                    cursor: pointer;
                    top: 8px;
                    right: 40px;
                    width: 19px;
                    height: 19px;
                }
            }
        }
        // Dropdown menu
        .dropdown-menu {
            .dropdown-submenu {
                position: relative;
                .dropdown-menu {
                    top: 0;
                    margin-top: -5px;
                    left: 100%;
                }
            }
            li:hover {
                ul {
                    display: block;
                }
            }
            li {
                text-align: center;
                h6 {
                    font-weight: 400;
                    font-size: 13px;
                    color: gray;
                    text-transform: uppercase;
                    padding-left: 15px;
                }
                h6:hover {
                    color: gray;
                }
            }
        }
    }
}
// Offcanvas
.offcanvas-body {
    ul {
        border-top: gray 2px solid;
        li {
            margin-bottom: 15px;
        }
        h6 {
            margin-top: 20px;
        }
    }
}
.vcl {
    display: flex;
    background-color: #133759;
    margin: 0 40px;
    height: 300px;
    p {
        color: #fff;
        font-weight: 300;
        font-size: 14px;
    }
    .bloco-1 {
        width: 50%;
        margin: 40px 10px 30px 40px;
        .titulo {
            font-size: 28px;
            font-weight: 500;
        }
    }
    .bloco-2 {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .p {
            p {
                padding-top: 40px !important;
                text-align: center;
                color: #fff !important;
                font-weight: 300 !important;
                font-size: 10px !important;
            }
        }
    }
    .atalhos {
        a {
            background-color: #fff;
            color: #133759 !important;
            font-weight: 500;
        }
    }
}
footer {
    position: relative;
    bottom: 0;

    .links-footer {
        margin: 50px 40px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 2fr 2fr 2fr 3fr;

        .link-util {
            ul {
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: #9d9d9c;
                        font-weight: 500;
                    }
                    a:hover {
                        color: $primary-color !important;
                    }
                    h1 {
                        font-size: 18px;
                        text-transform: uppercase;
                        font-weight: bold;
                        color: #484e57;
                    }
                }
            }
        }
    }

    p {
        color: #9d9d9c;
        font-weight: bold;
        font-size: 10px;
    }
    .newsletters {
        .titulo-footer {
            h1 {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
                color: #484e57;
            }
        }
        form {
            input {
                width: 340px;
                height: 40px;
                outline: none;
            }
            label {
                cursor: pointer;
                position: relative;
                left: 252px;
                font-size: 12px;
                font-weight: bold;
                bottom: 32px;
            }
        }
    }
    .footer {
        background-color: #292623;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        .direitos {
            p {
                font-size: 14px;
                margin-top: 14px;
            }
        }
    }
}
// pagina 1

.slider {
    .imagebg {
        width: 100%;
        height: 400px;
        max-height: 558px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
.licite {
    p {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #292623;
        .em {
            color: #000000;
            font-weight: bold;
        }
        .obj {
            color: #41a7d9;
        }
        .equipa {
            color: #41a7d9;
        }
    }
}
.qualidades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    span {
        color: #000000;
    }
}

.anuncios {
    height: auto;
    display: grid;
    grid-template-areas:
        "a a b c"
        "a a d e";
    grid-gap: 3px;
    .fotografia {
    }
    .destaque {
        grid-area: a;
        .fotografia {
            width: 500px;
            height: 455px;
            img {
                width: 100%;
                height: 100%;
            }
        }

    }
            a {
            ion-icon {
                font-size: 20px;
            }
        }
    .destaque-1 {
        grid-area: b;
        height: 180px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .destaque-2 {
        grid-area: c;
        height: 180px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .destaque-3 {
        grid-area: d;
        height: 180px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .destaque-4 {
        grid-area: e;
        height: 180px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .descricao {
        border-right: #9f9f9f 2px solid;
        border-left: #9f9f9f 2px solid;
        height: 80px;
        margin-top: 10px;
        padding-top: 10px;
        .name {
            .nome {
                margin-left: 5%;
                width: 100%;
                display: flex;
                align-items: center;
                span {
                    padding-left: 10px;
                }
            }
        }
        .info {
            display: flex;
            .pais {
                margin-left: 5%;
                display: flex;
                align-items: center;
                width: 70%;
                span {
                    padding-left: 10px;
                }
            }
            .salvar {
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .compartilhar {
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .favorito {
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

// categorias
.encontre {
    p {
        font-size: 24px;
    }
    .enc {
        color: #393534;
        font-weight: 600;
    }
}
.categorias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
    .imagem {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .nomecategoria {
        border-left: #9f9f9f 1px solid;
        border-right: #9f9f9f 1px solid;
        margin-top: 3px;
        width: 100%;
        height: 16%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imoveis {
        height: 300px;
    }
    .veiculos {
    }
    .equipamentos {
    }
    .arte {
    }
}
