* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
$primary-color: #41a7d9;
$secondary-color: #292623;



header {
    .collapse {
        ul {
            li {
                a {
                    //styleName: Menu;
                    color: $secondary-color !important;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                }
                a:hover {
                    color: $primary-color !important;
                }
            }
        }
    }
    .navbar {
        margin-top: 64px;
    }
    .login {
        display: flex;
        align-items: center;
        .ola {
            padding-right: 10px;
        }
        .vector {
            padding-right: 10px;
        }
        .ft-user {
            border-radius: 100px;
            width: 47px;
            height: 47px;
        }
    }
}
.titulo {
    margin-top: 40px;
    h1 {
        //styleName: H1;
        color: $primary-color;
        font-family: Roboto;
        font-size: 35px;
        font-style: normal;
        font-weight: 900;
        line-height: 41px;
        letter-spacing: 0em;
    }
}
.icones {
    width: 993px;
    margin: 42px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    a {
        text-decoration: none;
    }
    .itens {
        width: 166px;
        height: 166px;
        text-align: center;
        img {
            margin-top: 43px;
            width: 50px;
            height: 50px;
        }
        .card-body {
            p {
                //styleName: Menu;
                color: $secondary-color;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: center;
            }
        }
    }
    .itens:hover {
        border: #41a7d9 2px solid !important;
    }
}
// PAGINA BANNERS
.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .carregar {
        input[type="file"] {
            display: none;
        }
        label {
            display: flex;
            align-items: center;
            cursor: pointer;
            display: block;
        }
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .amostra {
        display: flex;
        .acoes {
            margin-top: 60px;
            height: 236px;
            width: 78px;
            .lixeira {
                button {
                    // margin-top: 60px;
                    width: 68px;
                    height: 60px;

                    img{
                        width: 100%
                    }
                }
            }
            .olho {
                button {
                    // margin-top: 10px;
                    width: 68px;
                    height: 60px;

                    img{
                        width: 100%
                    }
                }
            }
        }
        .banner-img {
            width: 507px;
            height: 236px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
<<<<<<< HEAD
.users{
    padding-top: 120px;
    font-size: 35px;

    a{
        text-decoration: none;
        color: #41A7DE;
    }
    p{
        color: #292623;
    }
}
=======

#modalImagem {
    .btn-close {
        position: absolute;
        top: 0;
        right: 0;
    }
}
>>>>>>> main
